<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Moz Blog Scraper</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/app.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/d02cd26d97.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Solway&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/fedb65081d.js" crossorigin="anonymous"></script>


</head>

<body>


	<div class="container col-8 m-4 mx-auto">
		<div class="jumbotron pt-0" id="jumbo">
			<div class="container text-center p-5">

				{{{ body }}}

			</div>
		</div>
	</div>




</body>

</html>