<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Moz Blog Scraper</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/app.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/d02cd26d97.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Bungee|Roboto+Mono&display=swap" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<span class="navbar-brand mb-0 h1">Moz Scraper</span>
	</nav>

	<div class="container col-10 m-4 mx-auto">
		<div class="jumbotron pt-0">
			<div class="container text-center">

				{{{ body }}}

			</div>
		</div>
	</div>
</body>

</html>