<button type="button" class="btn btn-warning mr-3" id="save-btn" data-id="{{_id}}">
	Save Article
</button>
<button type="button" class="btn btn-primary mr-3" id="comment-btn" data-id="{{_id}}" data-toggle="modal"
	data-target="#comment-modal">
	Add Comment
</button>