<button type="button" class="btn btn-success" id="save-btn" data-id="{{_id}}">
	SAVE
</button>

<button type="button" class="btn btn-warning" id="comment-btn" data-id="{{_id}}">
	ADD COMMENT
</button>