<button type="button" class="btn btn-success" id="save-btn" data-id="{{_id}}">
	SAVE
</button>

<button type="button" class="btn btn-warning comment" id="comment-btn" data-id="{{_id}}" data-toggle="modal"
	data-target="#comment-modal">
	ADD COMMENT
</button>